.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 24px 33px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.buttonGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.mainActoin:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__y1AX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__lJtD4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___2AImu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___5Sxt8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lh0Xc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wDnm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.numberInputField__k9UzJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.numberInputStepper__hG9N1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.numberIncrementStepper__nbz0W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.numberDecrementStepper__ycjK0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.radioGroup___2Ioea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___5Qx0G {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5Qx0G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___5Qx0G > :global(.__wab_flex-container) > *,
.freeBox___5Qx0G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Qx0G > :global(.__wab_flex-container) > picture > img,
.freeBox___5Qx0G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 12px;
}
.radio__hc1H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zlycO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__a5Xd0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mzBdp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__upykq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fBays {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__pJpYc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lIpye {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radioGroup__ovRt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__mwd7I {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mwd7I > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__mwd7I > :global(.__wab_flex-container) > *,
.freeBox__mwd7I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwd7I > :global(.__wab_flex-container) > picture > img,
.freeBox__mwd7I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
  margin-top: 12px;
}
.radio__zA6N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zpFG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__cLtLk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bnoUr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__pPGo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wrgMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__mK8V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wyUd0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tableContainer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.table:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tableCaption:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___3LKRi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.thead:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tr__hx3Qz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.th__hzYkt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pskIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.th__jiIsO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hD2VR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.th__xpBh4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__b8HCj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tbody:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tr__rDoH0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td___1Syg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___0MbVg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__c9Th0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td___98Kzl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mVEg2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__uUs4H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__ubAsp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__aOixx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__pgsHq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td___98Kzl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___2UyNd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__lLeCo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__jiMei:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__h1WF8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__d6Ulu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td___98Kzl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__otpkx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__oAaHr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__vn8A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1DUnP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wGszV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td___98Kzl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7J2P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__y0QxY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__djzKw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__e0AMp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__sRp1O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td___98Kzl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uAqZg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___5SOw9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___5SOw9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___5SOw9 > :global(.__wab_flex-container) > *,
.freeBox___5SOw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5SOw9 > :global(.__wab_flex-container) > picture > img,
.freeBox___5SOw9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.checkboxGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.checkbox___5V5Zw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nwW1K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkbox__zQWy4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__g2Rgq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkbox__cVoDr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__n00Ok {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.breadcrumb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.breadcrumbItem__dbOev:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.breadcrumbLink__yawsi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fsKc1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.breadcrumbItem__fJNjo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.breadcrumbLink__wRrAb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cunN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.breadcrumbItem__kTmM8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.breadcrumbLink__z00LZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lhQgE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.aspectRatio:global(.__wab_instance) {
  width: 320px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.image__dAaMt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.stat:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.statLabel__iiGa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vH4N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.statNumber__o1Tr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iEkKc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.statHelpText__foBeY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wUjhP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.statArrow__qzYP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iy8Oe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tabList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.tab__hrGna:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.text__vyO6J {
  position: relative;
  width: auto;
  height: auto;
  flex-shrink: 0;
}
.tab___4V5ZS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.text__bEzDw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  flex-shrink: 0;
}
.tab__kl7Z:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.text__z7X1J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  flex-shrink: 0;
}
.tab__eaTmB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.text__lkhVu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  flex-shrink: 0;
}
.tabPanels:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__hEe2Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cw0Ou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanel__wzL8R:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6EhAv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanel___613HX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__md5DJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanel__z1Utv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9Mv0B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
